<!-- Section - Home Start -->
<section id="home" class="bg-cover bg-black bg-overlay-black-5 h-100 w-100">
    <div class="container h-100">
        <div class="row align-items-center h-100">
            <div class="col-lg-9 col-xl-7">
                <span class="font-alt font-w-600 opacity-9-5 letter-spacing-2 text-large text-uppercase text-white">{{header}}</span>
                <h2 class="font-alt font-w-700 letter-spacing-2 m-0 mt-3 text-uppercase text-white title-xs-extra-large title-sm-extra-large-3 title-extra-large-4">
                    {{subtitle}}
                </h2>
                <span class="bg-base-color d-block mt-4 sep-line-extra-thick-long"></span>
            </div>
            <!-- //.col-lg-9 -->
        </div>
        <!-- //.row -->
    </div>
    <!-- //.container -->
</section>
<!-- //Section - Home End -->
<!-- Section - Team Start -->
<div id="team" class="bg-white">
    <div class="container">
      <div class="row justify-content-center pb-4 pb-lg-5">
          <div class="col-lg-6 text-center">
              <h3 class="font-alt font-w-600 letter-spacing-2 m-0 mt-1 text-uppercase title-xs-small title-medium title-underline-thick-base-color">The Team</h3>
              <p class="mt-4 text-xs-large text-extra-large">Meet the team. We are here for you.</p>
          </div>
          <!-- //.col-lg-6 -->
      </div>
      <div class="row">
        <div class="col-lg-4 hero-item" *ngFor="let hero of heros">
          <div class="box-shadow position-relative text-center">
            <div class="position-relative">
                <img class="rounded-circle" src="{{hero.photo}}" alt="image" width="140" height="140">
            </div>
            <div class="bg-white border border-top-0 position-relative py-4 rounded-bottom">
                <span class="d-block font-alt text-large">{{hero.name}}</span>
                <span class="d-block text-gray-dark text-large text-underline">{{hero.title}}</span>
                <p>{{hero.description}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
