<section id="home" class="bg-cover bg-black bg-overlay-black-5 h-100 w-100">
    <div class="container h-100">
        <div class="row align-items-center h-100">
            <div class="col-lg-9 col-xl-7">
                <h2 class="font-alt font-w-700 letter-spacing-2 m-0 mt-3 text-uppercase text-white title-xs-extra-large title-sm-extra-large-3 title-extra-large-4">
                    {{reports.title}}
                </h2>
                <span class="bg-base-color d-block mt-4 sep-line-extra-thick-long"></span>
            </div>
            <!-- //.col-lg-9 -->
        </div>
        <!-- //.row -->
    </div>
    <!-- //.container -->
</section>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-sm-4" *ngFor="let report of reports.report_items">
      <app-item [report] = "report"></app-item>
    </div>
  </div>
</div>
